<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{% if page.title %} {{ page.title }} - {% endif %}宇泽的博客</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Xiaoyuze88.GitHub.io : Personal blog,肖宇泽的个人博客">
    <meta name="keywords" content="肖宇泽,个人博客,js,javascript,css,css3,html,html5,web,develper,开发,前端{% if page.keywords %},{{page.keywords}}{% endif %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no" />
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="/static/css/gh-fork-ribbon.min.css">
    <link rel="stylesheet" href="/static/css/main.min.css">
    
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="css/gh-fork-ribbon.ie.min.css" />
    <![endif]-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/ico/favicon.png">
    <script>
    (function() {
        var timer,
            on = 'addEventListener',
            d = document,
            w = window,
            doc = d.documentElement,
            ps = 'pageshow',
            lastWidth;

        var $ = function(className) {
            return document.getElementsByClassName(className)[0];
        };

        // caculate when DomContentLoaded
        d[on]('DOMContentLoaded', resizeTop);

        // If `pageshow` event exist.
        if ('on' + ps in w)
            w[on](ps, function(e) {
                // recaculate it again for some Android can't get the right width when `DOM ready`
                if (e.persisted) debouceResize();
            });
        else
            // If `pageshow` not exist, recaculate when 'load' event
            w[on]("load", debouceResize);

        // recaculate when `resize`
        w[on]("resize", debouceResize);

        // debounce resize caculating
        function debouceResize() {
            clearTimeout(timer);
            timer = setTimeout(resizeTop, 300);
        }

        // resize font size
        function resizeTop() {
            var width = getWidth();
            // Some Android will trigger more than one `resize` events when user are opening keyboard or some other stuff.
            // So compare new width with the old one, only resize the font-size when window's width actually changed.
            if(width != lastWidth) {
                lastWidth = width;
                // doc.style.fontSize = lastWidth * 20 / 320 + "px";
                $('top-strip').style.top = $('content').style.top = '-' + lastWidth + 'px';
            }
        }

        // Use `getBoundingClientRect` instead of `window.innerWidth/document.documentElement.clientWidth` for more accuracy.
        // Because some Android webviews sometimes get the wrong width by using `window.innerWidth/document.documentElement.clientWidth`.
        function getWidth() {
            return doc.getBoundingClientRect().width;
        }
    })();
    </script>
</head>

<body>
    <div class="thumb-wrapper">
        <img src="/static/images/thumbForWechat.png" alt="" class="thumb-img">
    </div>
    <!-- Header
      ================================================== -->
    <header>
        <div class="github-fork-ribbon-wrapper right" style="top: 14px;">
            <div class="github-fork-ribbon">
                <a href="https://github.com/xiaoyuze88/">Fork me on GitHub</a>
            </div>
        </div>
    </header>
    {{ content }}
    <footer>
        <div class="container">
            Copyright © <a href="https://github.com/xiaoyuze88/">Xiao Yuze</a> 2015. Powered by <a href="http://jekyllrb.com/">Jekyll.</a>
        </div>
    </footer>
    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?1dc17e35625a5934d932a1a321941e3d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
        // var winWidth = document.documentElement.getBoundingClientRect().width;
        // document.getElementsByClassName('content')[0].style.top = '-' + winWidth + 'px';
    })();

    </script>
</body>

</html>
